<main class="login__contenedor">

    <a href="index.html" class="volver_inicio_contenedor">
        <img src="assets/img/volver.png" alt="">
    </a>

    <section class="login__section login__section--leftSide" data-aos="fade-right" data-aos-duration="500"
        data-aos-delay="250">

        <img src="assets/img/login__img.png" alt="">
        <h3><span>Spra</span>YL Car Detailing Anywhere</h3>
        <span class="login__leftSide__subtitulo">"Welcome to SpraYL, where we reflect perfection in every
            detail."</span>
    </section>

    <section class="login__section login__section--rightSide" data-aos="fade-left" data-aos-duration="500"
        data-aos-delay="1000">

        <form action="" class="login__form">

            <h3 class="login__titulo">Welcome Again</h3>

           <!--  <fieldset class="login__fieldset">
                <legend>Your name</legend>
                <input type="text" name="nombre" class="login__input" placeholder="George Washington" required>
            </fieldset> -->

            <fieldset class="login__fieldset">
                <legend>Email</legend>
                <input type="email" name="email" class="login__input" placeholder="example@youremail.com" required>
            </fieldset>

            <fieldset class="login__fieldset">
                <legend>Password</legend>
                <input type="password" name="contrasena" class="login__input" placeholder="Password" required>

            </fieldset>

            <input type="submit" name="" class="login__input login_submit" value="Get Started" required>

            <!------------------------->

            <div class="login__separador">
                <div class="login__linea__separador"></div>
                <span>Or</span>
            </div>

            <div class="login__alternativo">
                <img src="assets/img/login_alternativo__google.png" alt="">
                <span>Sign up with Google</span>
            </div>

            <div class="login__alternativo">
                <img src="assets/img/login_alternativo__facebook.png" alt="">
                <span>Sign up with Facebook</span>
            </div>

            <!-- <div class="login__alternativo">
                <img src="assets/img/login_alternativo__apple.png" alt="">
                <span>Sign up with Apple</span>
            </div> -->

            <!------------------------->
            <span class="login__redireccionar">Dont't have an account? <a href="signup.html">Sign Up Here</a></span>
        </form>

    </section>

</main>