<!--///////////////////// CONTENIDO /////////////////////---->
<!-- Carga de Pantalla -->
<!-- <div class="pantallaDeCarga">
    <div class="pantalladeCarga__item"></div>
</div> -->

<main class="main">
  <!------------------ PORTADA ------------------------assets/vid/SPRAYL_CLIP_WEB 2.0.mp4--------->
  <div hidden style="background-color: black">
    <img class="logo_mobile" src="assets/img/header__logo.png" alt="" />
  </div>
  <section class="main__section main__section--portada">
    <video
      class="video_portada"
      src="assets/vid/SPRAYL_CLIP_WEB.mp4"
      autoplay
      muted
      loop
      preload="auto"
    ></video>
    <div class="mascara"></div>
  </section>
</main>

<div class="next_sections">
  <section class="main__section main__section--descripcion">
    <!-- descripcion -->
    <div class="descripcion__contenedor">
      <div class="descripcion__section--img">
        <img src="assets/img/home__descripcion__img.png" alt="" />
      </div>

      <div class="descripcion__section--text">
        <div class="contenedor_descripcion_img">
          <video
            src="assets/vid/circulo.mp4"
            class="descripcion__section_text__img"
            muted
            autoplay
            loop
          ></video>
          <div class="imagenes_absolute">
            <img src="assets/img/Group 29.png" class="ubicacion" alt="" />
            <img src="assets/img/AnyWhere.png" class="anywhere" alt="" />
          </div>
        </div>
        <p class="descripcion__parrafo">
          At SpraYL, we're just a click away to help you keep your daily
          routine. You choose the location and we come to you, offering
          high-quality detailing services. Keep your vehicle in top shape
          without disrupting your day. 
        </p>

        <div class="descripcion__contenedor descripcion__contenedor--boton">
          <img
            class="descripcion__icono"
            src="assets/img/home__descripcion__img3.png"
            alt=""
          />
          <span>Green Eco-Wash</span>
        </div>
      </div>
    </div>

    <!-- Spryl Descripcion-->

    <div class="descripcion__estadisticas">
      <div class="estadistica__item">
        <span class="estadistica__valor">2</span>
        <span class="estadistica__descripcion">Years of service</span>
      </div>

      <div class="estadistica__item">
        <span class="estadistica__valor">3000</span>
        <span class="estadistica__descripcion">Specified service</span>
      </div>

      <div class="estadistica__item">
        <span class="estadistica__valor">125</span>
        <span class="estadistica__descripcion">Gallons of water used</span>
      </div>

      <div class="estadistica__item">
        <span class="estadistica__valor">300.000</span>
        <span class="estadistica__descripcion">gallons of waters saved</span>
      </div>
    </div>

    <!-- ---------------------------- -->
    <div class="descripcion__contenedor_items">
      <div class="descripcion__item">
        <img
          class="descripcion__item__img"
          src="assets/img/descripcion__item__img1.png"
          alt=""
        />
        <p class="descripcion__item__parrafo">
          At SpraYL, we're proud to offer a fully mobile service. No matter
          where you are, our team will come to your location to detail your
          vehicle. The customer picks the location, and we don't charge anything
          extra for the travel. Whether it's at your home, your office, or any
          place you choose, we come to you to provide the ultimate convenience
          and quality without you having to move. Relax and let SpraYL handle
          everything!
        </p>
      </div>

      <div class="descripcion__item">
        <img
          class="descripcion__item__img"
          src="assets/img/descripcion__item__img2.png"
          alt=""
        />
        <p class="descripcion__item__parrafo">
          At SpraYL, we offer a full range of services, from full detailing to
          simple maintenance. No matter the size of the job, we always guarantee
          excellent prices compared to the market. Our maintenance services are
          quick and efficient, and we always provide a satisfaction guarantee
          until the customer is 100% satisfied.
        </p>
      </div>

      <div class="descripcion__item">
        <img
          class="descripcion__item__img"
          src="assets/img/descripcion__item__img3.png"
          alt=""
        />
        <p class="descripcion__item__parrafo">
          At SpraYL, we pride ourselves on providing exceptional customer
          service. You can reach us through calls or messages, and our response
          is almost immediate. We're here to answer your questions, schedule
          services, and ensure you have a seamless experience every time. Your
          satisfaction is our priority, and we're available to assist you with
          anything you need.
        </p>
      </div>
    </div>
  </section>

  <!------------------ SERVICIOS   --------------------------------->

  <section class="main__section main__section--servicios">
    <h3 class="servicios_section__titulo">Services</h3>

    <div class="servicios__contenedor">
      <div class="servicio__item">
        <img
          class="servicio__img mask-img"
          src="assets/img/servicio__img1.png"
          alt=""
        />
        <span class="servicio__titulo">Interior Details </span>
        <p class="servicio__parrafo">
          Our interior services cover all aspects of keeping your car’s interior
          immaculate and inviting. We provide thorough vacuuming to remove dirt
          and debris from all surfaces, dusting to ensure every corner is free
          from dust, and windshield cleaning to keep your view crystal clear.
          Additionally, we clean all windows to enhance visibility and overall
          appearance. Finally, we add a pleasant fragrance, leaving your car
          smelling fresh and clean. Each service is designed to enhance your
          driving experience and maintain a spotless interior environment.
        </p>
      </div>

      <div class="servicio__item">
        <img
          class="servicio__img mask-img"
          src="assets/img/servicio__img2.png"
          alt=""
        />
        <span class="servicio__titulo">Exterior Details </span>
        <p class="servicio__parrafo">
          Our exterior services ensure your car looks its best from every angle.
          We provide a liquid wax wash that not only cleans but also adds a
          protective shine. Our windshield cleaning guarantees clear visibility,
          and we meticulously remove bugs to maintain a spotless finish.
          Additionally, we clean your wheels to keep them gleaming and apply
          tire shine for a polished look. Each service is designed to enhance
          your car’s appearance and ensure it remains protected
        </p>
      </div>
    </div>
  </section>

  <!------------------ GALERIA   --------------------------------->
  <section class="main__section main__section--galeria">
    <h3 class="galeria__section__titulo">Gallery</h3>
    <div class="galeria__contenedor">
      <div class="galeria__row galeria__row--1">
        <img
          class="galeria__img galeria__img--1 mask-img"
          src="assets/img/galeria__img1.png"
          alt=""
        />
        <img
          class="galeria__img galeria__img--2 mask-img"
          src="assets/img/galeria__img2.png"
          alt=""
        />
      </div>
      <div class="galeria__row galeria__row--2">
        <img
          class="galeria__img galeria__img--3 mask-img"
          src="assets/img/galeria__img3.png"
          alt=""
        />
        <img
          class="galeria__img galeria__img--4 mask-img"
          src="assets/img/galeria__img4.png"
          alt=""
        />
      </div>
    </div>
  </section>

  <!------------------ GETREADY   --------------------------------->

  <section class="main__section main__section--getready">
    <video
      class="getready__video"
      src="assets/vid/getready.mp4"
      loop
      loading="lazy"
      muted
      autoplay
    ></video>
  </section>
</div>
<!------------------HOME DESCRIPCION --------------------------------->
