
<!-- Pantalla de Carga -->
<div class="pantallaDeCarga">
    <div class="pantalladeCarga__item"></div>
</div>


<!--///////////////////// CONTENIDO /////////////////////---->

<main class="main">

<!------------------ PORTADA --------------------------------->
    
    <section class="main__section main__section--portada">

        <div class="mascara"></div>
        
    </section>


<!------------------ BIENVENIDA --------------------------------->

    <section class="main__section main__section--bienvenida">


        <div class="bienvenida__titulo__contenedor">
            <div class="linea_titulo" ></div>
            <h3 class="bienvenida__titulo"  >¿Quiénes Somos?</h3>
            <div class="linea_titulo" ></div>
        </div>

        <div class="bienvenida__contenedor">

            <div class="bienvenida__section--img"  >
                <img src="assets/img/bienvenida__img2.png" alt="">
            </div>
    
    
            <div class="bienvenida__section--text" >
                <p class="bienvenida__parrafo">Welcome to SpraYL, a company with over 2 years of experience in auto detailing, committed to providing the highest quality services to our customers. Founded in 2023, SpraYL has grown with the mission of caring not only for our clients' vehicles but also for the environment. We pride ourselves on offering a wide range of services designed to maintain the appearance and value of your vehicle, treating each car as if it were our own.</p>
                <p class="bienvenida__parrafo">At SpraYL, we understand that your car is more than just a means of transportation; it’s an investment and a reflection of your personality. That’s why we strive to provide excellent customer service along with our top-notch detailing. From the moment you reach out to us, you will receive attention and a commitment to excellence that you won’t find anywhere else. We offer services ranging from interior and exterior detailing to maintenance and much more.</p>
            </div>

            <div class="bienvenida__section--img bienvenida__section--img--responsive">
                <img src="assets/img/bienvenida__img2.png" alt="">
            </div>
    
        </div>

        
    </section>

<!------------------ WHY SPRAYL --------------------------------->

    <section class="main__section main__section--whysprayl">
        
        <div class="whysprayl__titulo_contenedor">
            <div class="linea_titulo"  ></div>
            <h3 class="whysprayl__titulo"  >W<span>h</span>y Spra<span>YL</span>?</h3>
            <div class="linea_titulo" ></div>
        </div>

        <div class="whysprayl__contenedor">

            <p class="whysprayl__parrafo" >SpraYL offers significant advantages to its subscribers, allowing them to request detailing services instantly through our app, without the need to pre-schedule. Whether you're at home, at work, or even at a shopping mall, you can request our service whenever you need it. While you shop, a Sprayler can clean your car, providing you with unparalleled convenience and flexibility. This feature enables our customers to keep their vehicles spotless without disrupting their daily routine, maximizing their time and ensuring high-quality service anywhere.</p>
            <img class="whysprayl__img" src="assets/img/whysprayl__img.png" alt="" >

        </div>

    </section>

<!------------------ DESCRIPCIONES --------------------------------->

    <section class="main__section main__section--descripcion">
        
        <div class="descripcion__item">
            <img class="descripcion__img descripcion__img--no_responsive" src="assets/img/nosotros__descripcion__item__img1.png" alt="" >
            <p class="descripcion__parrafo">At SpraYL, we believe that excellent customer service is just as important as top-notch detailing work. Our customer service is available throughout the workday, ensuring almost immediate responses to calls and messages to resolve any queries or needs. Customer satisfaction is our top priority. We guarantee that if you are not completely satisfied with our service, we will do everything possible to make it right. This is what sets us apart from the competition, along with our competitive prices and unmatched quality of work. Our customers' testimonials reflect the dedication and care we put into every job.</p>
        </div>

        <div class="descripcion__item">
            <img class="descripcion__img descripcion__img--responsive" src="assets/img/nosotros__descripcion__item__img2.png" alt="" >
            <p class="descripcion__parrafo" >SpraYL generates numerous employment opportunities for its Spraylers, offering flexible work schedules, competitive pay, and a supportive work environment. Our platform allows individuals to join our team and enjoy the freedom to choose their work hours, making it an ideal option for those seeking part-time or full-time employment. Spraylers receive comprehensive training, access to top-quality detailing tools, and the chance to build a rewarding career in the automotive detailing industry. At SpraYL, we value our employees and provide continuous support to help them succeed and grow within the company.</p>
            <img class="descripcion__img descripcion__img--no_responsive" src="assets/img/nosotros__descripcion__item__img2.png" alt="" >
        </div>

        <div class="descripcion__item">
            <img class="descripcion__img" src="assets/img/nosotros__descripcion__item__img3.png" alt="" >
            <p class="descripcion__parrafo" >At SpraYL, our commitment to the environment is paramount. We prioritize sustainability in all aspects of our operations, from conserving water to using biodegradable products that minimize environmental impact. Our eco-friendly practices ensure that we not only provide exceptional detailing services but also contribute to the preservation of our planet. We are dedicated to reducing our carbon footprint and promoting green solutions, reflecting our belief that taking care of the environment is just as important as taking care of your vehicle.</p>
        </div>

    </section>

</main>

