/* Ajustes generales para el formulario */
.booking__form {
    width: 90%;
    max-width: 800px; /* Aumentar el ancho máximo para el formulario */
    margin: auto;
    background-color: #00a859;
    padding: 35px 30px;
    border-radius: 10px;
}

/* Estilo para el título de los formularios */
.booking__form__titulo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 25px;
}

/* Estilo para las etiquetas de los campos */
.booking__form__label {
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

/* Estilo para los campos de entrada */
.booking__form__input {
    width: 100%;
    padding: 12px 25px;
    background-color: #000;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-bottom: 25px;
    font-size: 1rem;
    color: #fff;
}

.booking__form__input:focus {
    outline: 2px solid #fff;
}

/* Estilo para los botones de navegación */
.booking__form__siguiente_button {
  /*   display: block;
    width: 60%;
    margin: auto;
    color: #000;
    background-color: #fff;
    margin-top: 25px;
    text-align: center;
    padding: 12px 0;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 25px;
    cursor: pointer; */
    
        display: block;
        width: auto;
        padding: 12px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1rem;
        text-align: center;
        transition: background-color 0.3s, transform 0.3s;
        margin-top: 15px;
}

.booking__form__siguiente_button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}



/*-------------------------------------------*/
/* Estilo para la sección de extras */
.booking__section--extras {
    background-color: #f4f4f4; /* Fondo más claro para diferenciar */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 800px; /* Ancho máximo del contenedor de extras */
    margin-left: auto; /* Centrar horizontalmente */
    margin-right: auto; /* Centrar horizontalmente */
}

/* Contenedor de los extras con diseño flexible */
.booking__extras__contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

/* Estilo para cada ítem de extra */
.booking__extra__item {
    flex: 1 1 calc(33.333% - 15px); /* 3 ítems por fila con espacio */
    box-sizing: border-box;
    background: linear-gradient(45deg, #037c44, #3dc744);
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

/* Estilo para las imágenes de los extras */
.booking__extra__item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Estilo para el título de cada ítem extra */
.booking__item__titulo {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}

/* Estilo para los detalles de cada ítem extra */
.booking__extra__item__details {
    margin-bottom: 10px;
}

.booking__extra__item__details summary {
    cursor: pointer;
    font-weight: 700;
}

/* Estilos para los botones de agregar y quitar extras */
.booking__button {
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

.booking__button--agregar {
    background-color: #053820;
    color: #fff;
}

.booking__button--agregar:hover {
    background-color: #117248;
}

.booking__button--quitar {
    background-color: #f44336;
    color: #fff;
}

.booking__button--quitar:hover {
    background-color: #c62828;
}

/* Estilo para la etiqueta de agregado */
.extra__etiqueta_agregado {
    display: block;
    font-size: 0.9rem;
    color: #00a859;
    margin-top: 10px;
}

/* Estilo para el campo de comentario adicional */
.extras_input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 15px;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .booking__extra__item {
        flex: 1 1 calc(50% - 15px); /* 2 ítems por fila */
    }
}

@media (max-width: 480px) {
    .booking__extra__item {
        flex: 1 1 100%; /* 1 ítem por fila en pantallas muy pequeñas */
    }
}


/*del detalles*/
.booking__formdetalles {
    width: 90%;
    max-width: 800px; /* Aumentar el ancho máximo para el formulario */
    margin: auto;
    background-color: #00a859;
    padding: 35px 30px;
    border-radius: 10px;
    height: 1000px;
}

           /*-----------------------detalle resumen---------------------------*/

.booking__formDetalles{
    width: 90%;
    max-width: 800px; /* Aumentar el ancho máximo para el formulario */
    margin: auto;
    background-color: #00a859;
    padding: 35px 30px;
    border-radius: 10px;
    z-index: 10;
    position: relative;
}
/* formulario.component.css */
.booking__section--resumen {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: auto;
}

.resumen__titulo {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.resumen__contenedor {
    width: 100%;
}

.resumen__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.resumen__row__item--caracteristica {
    font-weight: bold;
    color: #312d2d;
    flex-basis: 42%;
}

.resumen__dato {
    font-size: 1rem;
    color: #292828;
    flex-basis: 60%;
    text-align: right;
}

.booking__lista__extras {
    list-style: none;
    padding: 0;
    margin: 0;
}

.booking__lista__extras li {
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.booking__button__submit {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.booking__button__submit:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.resumen__divisor {
    border-top: 1px solid #e0e0e0;
    margin: 20px 0;
}

.resumen__divisor--grande {
    border-width: 2px;
}

.resumen__input {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

/* probemos */


/* .booking__section--resumen {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.resumen__contenedor {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.resumen__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.resumen__row__item--caracteristica {
    font-weight: bold;
}

.resumen__dato {
    font-size: 1rem;
}

.booking__button__submit {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.booking__button__submit:hover {
    background-color: #0056b3;
}
 */
            /* ------------------------------------------------------ */
/*----------------------header del booking-------------------*/
.header__booking__top2 {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    justify-content: center; /* Centra horizontalmente */
    flex-direction: column; /* Apila los elementos verticalmente */
    box-shadow: 0 0 2px 3px #00331b;
    padding: 15px 0; /* Ajustado para un mejor espaciado */
    background: #00a859;
    margin-bottom: 15px;
}

.header__booking__top2 .volver_inicio_contenedor2 {
    position: absolute; /* Permite que se posicione fuera del flujo del contenido */
    top: 15px; /* Ajusta la distancia desde la parte superior */
    left: 15px; /* Ajusta la distancia desde la parte izquierda */
}

.header__booking__top2 h2 {
    margin: 0; /* Elimina el margen por defecto */
    padding: 5px 0; /* Ajusta el padding */
    font-size: 1.8rem; /* Tamaño del texto ajustado */
    color: #ffffff;
}

.header__booking__top2 hr {
    width: 100px;
    margin: 10px auto; /* Ajusta el margen para centrar */
    
}

.volver_inicio_contenedor {
    position: fixed;
    top: 10px;
    left: 10px; /* Alinea el botón a la izquierda */
    z-index: 1000000000;

    width: 50px; /* Ajusta el tamaño del contenedor según el tamaño de la imagen */
    height: 50px; /* Asegúrate de que sea igual al ancho para mantener la forma circular */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    background-color: #fff; /* Fondo blanco */
    display: flex;
    align-items: center;
    justify-content: center;
}

.volver_inicio_contenedor img {
    width: 30px; /* Ajusta el tamaño de la imagen para que se ajuste bien dentro del círculo */
    height: auto; /* Mantiene la proporción de la imagen */
}


/*fondo de cada forms*/
.booking__form1 {
    width: 90%;
    max-width: 580px; /* Aumentar el ancho máximo para el formulario */
    margin: auto;
    /* background-color: #00a859; */
    background: linear-gradient(45deg, #037c44, #3dc744); /* De verde oscuro a verde claro */

    padding: 35px 30px;
    border-radius: 10px;
   height: auto;
   z-index: 10;
    position: relative;
}

/*------------------------------forms3 estilos--------------------------------*/

.booking-form__field{
    margin-left: 25px;
}

.booking__form3 {
    width: 90%;
    max-width: 900px; 
    height: 350px;
    margin: auto;
    background: linear-gradient(45deg, #037c44, #3dc744); /* De verde oscuro a verde claro */
    /* background-color: #00a859; */
    /* padding: 35px 30px; */
    padding: 0;
    border-radius: 10px;
   
}
.booking-form__container {
    margin: 0; /* Elimina márgenes externos */
    padding: 0; /* Elimina rellenos internos */
}

.booking-form__label2{
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
    color: #070606;
    letter-spacing: 1px;
    margin-bottom: 9px;

}

.booking-form__label22{
    font-size: 1.1rem;
    font-weight: 700;
    color: #070606;
    letter-spacing: 1px;
    margin-bottom: 9px;
    margin-left: 23px;

}

.booking-form__title-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    padding: 20px; /* Espaciado alrededor del título */
}

.booking-form__title222 {
    font-family: 'Roboto', sans-serif; /* Tipografía moderna */
    font-size: 2rem; /* Tamaño del texto */
    font-weight: 700; /* Grosor del texto */
    color: #070707; /* Color del texto */
    text-transform: uppercase; /* Letras en mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    padding-bottom: 10px; /* Espaciado debajo del texto para la línea */
    margin: 0; /* Elimina el margen predeterminado */
    text-align: center; /* Alinea el texto al centro */
    transition: color 0.3s, border-color 0.3s; /* Efecto de transición para el color y la línea */
}


.input_hora1 {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    max-width: 400px; /* Máximo ancho del campo */
    padding: 10px; /* Espaciado interno del campo */
    font-size: 1.1rem; /* Tamaño de la fuente */
    border: 2px solid #007BFF; /* Borde del campo */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
    outline: none; /* Elimina el borde de enfoque predeterminado */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transiciones suaves para el borde y la sombra */
}

.input_hora1:focus {
    border-color: #0056b3; /* Cambia el color del borde al enfocar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al enfocar */
}

.input_hora1__label {
    display: block; /* Asegura que la etiqueta esté en una línea separada */
    margin-bottom: 8px; /* Espaciado debajo de la etiqueta */
    font-size: 1rem; /* Tamaño de la fuente de la etiqueta */
    color: #333; /* Color del texto de la etiqueta */
}


/*radious*/
.booking-form__label2222{
    margin-left: 15px;
}

.booking-form__label2222 input[type="radio"]:checked::before {
    content: ''; /* Añade un pseudo-elemento */
    position: absolute; /* Posición absoluta dentro del radio */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    width: 10px; /* Tamaño del punto interior */
    height: 10px; /* Tamaño del punto interior */
    background-color: #007BFF; /* Color del punto interior cuando está seleccionado */
    border-radius: 50%; /* Hace que el punto sea circular */
    transform: translate(-50%, -50%); /* Centra el punto */
}

.booking-form__label2222:hover input[type="radio"] {
    border-color: #0056b3; /* Cambia el color del borde al pasar el ratón */
}
/*-------------------------------------------------------------------------------------------------*/
/*ESTILOS DEL FORMS4*/
.booking__form4{
    width: 90%;
    max-width: 600px; /* Aumentar el ancho máximo para el formulario */
    margin: auto;
    /* background-color: #00a859; */
    background: linear-gradient(45deg, #037c44, #3dc744); /* De verde oscuro a verde claro */
    padding: 35px 30px;
    border-radius: 10px;
    /* el index y position par aque esten adelante
    position: relative;: Asegura que el z-index tenga efecto. Si el botón se está superponiendo a otros elementos, position: relative ayuda a asegurar que el z-index funcione correctamente.

z-index: 10;: Asegura que el botón esté en una capa superior. Puedes ajustar el valor si es necesario, pero asegúrate de que sea mayor que el z-index de los elementos que podrían estar cubriéndolo. */
    z-index: 10;
    position: relative;
}

.booking__detalles__input4{
    .booking__detalles__input4 {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    max-width: 300px; /* Ancho máximo para evitar que se expanda demasiado */
    padding: 10px; /* Espaciado interno del campo */
    font-size: 1rem; /* Tamaño de la fuente */
    border: 2px solid #007BFF; /* Borde del campo */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #fff; /* Color de fondo blanco */
    color: #333; /* Color del texto */
    outline: none; /* Elimina el borde de enfoque predeterminado */
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transiciones suaves */
}

.booking__detalles__input4:focus {
    border-color: #0056b3; /* Cambia el color del borde al enfocar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al enfocar */
}

/* Opcional: estilos adicionales para el contenedor del select */
.booking__detalles__label {
    display: block; /* Asegura que la etiqueta esté en una línea separada */
    margin-bottom: 8px; /* Espaciado debajo de la etiqueta */
    font-size: 1rem; /* Tamaño de la fuente de la etiqueta */
    color: #333; /* Color del texto de la etiqueta */
}

}


/*forms4 estilos*/

.booking__detalles__input4 {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    max-width: 300px; /* Ancho máximo para evitar que se expanda demasiado */
    padding: 10px; /* Espaciado interno del campo */
    font-size: 1rem; /* Tamaño de la fuente */
    border: 2px solid #007BFF; /* Borde del campo */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #fff; /* Color de fondo blanco */
    color: #333; /* Color del texto */
    outline: none; /* Elimina el borde de enfoque predeterminado */
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transiciones suaves */
}

.booking__detalles__input4:focus {
    border-color: #0056b3; /* Cambia el color del borde al enfocar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al enfocar */
}

/* Opcional: estilos adicionales para el contenedor del select */
.booking__detalles__label {
    display: block; /* Asegura que la etiqueta esté en una línea separada */
    margin-bottom: 8px; /* Espaciado debajo de la etiqueta */
    font-size: 1rem; /* Tamaño de la fuente de la etiqueta */
    color: #333; /* Color del texto de la etiqueta */
}



/*politicas*/


/* Modal styles */
/* Estilos para el enlace */
.booking__politica__link {
    color: #070247; /* Azul medio fuerte */
    font-size: 19px; /* Tamaño de fuente */
    text-decoration: underline; /* Subrayar el texto */
    cursor: pointer; /* Cambiar el cursor a una mano al pasar el ratón */
}

/* Modal styles */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Fijar el modal */
    z-index: 1; /* Asegurarse de que esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo de la pantalla */
    height: 100%; /* Alto completo de la pantalla */
    overflow: auto; /* Hacer scroll si es necesario */
    background-color: rgba(0,0,0,0.4); /* Fondo semi-transparente */
}

.modal-content {
    background-color: #fefefe; /* Fondo blanco para el contenido del modal */
    margin: 15% auto; /* Centrar el modal en la pantalla */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
    max-width: 600px; /* Tamaño máximo */
}

.close {
    color: #aaa; /* Color del botón de cierre */
    float: right; /* Posicionar a la derecha */
    font-size: 28px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
}

.close:hover,
.close:focus {
    color: black; /* Color del botón al pasar el ratón */
    text-decoration: none;
    cursor: pointer;
}

/* ESTILOS DEL FORMULARIO FACTURA */

.resumen__titulo{
    margin-top: 15px;
    margin-left: 228px;
}
/* Contenedor del formulario para centrar el botón */
.form-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

/* Estilo del botón */
.enviarFormulario {
    background-color: #007bff; /* Color de fondo azul fuerte */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambiar el cursor a una mano al pasar el ratón */
    transition: background-color 0.3s, transform 0.2s; /* Efectos de transición */
}

/* Estilo del botón al pasar el ratón por encima */
.enviarFormulario:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al pasar el ratón */
    transform: scale(1.05); /* Aumentar ligeramente el tamaño */
}

/* Estilo del botón al hacer clic */
.enviarFormulario:active {
    background-color: #004085; /* Color de fondo aún más oscuro al hacer clic */
    transform: scale(0.98); /* Reducir ligeramente el tamaño */
}


.booking__section55{
    color: #000;
    font-size: 23px;
    background: linear-gradient(to right, #3a6605, #295f10); /* Gradiente verde claro a verde oscuro */
}













/**/

.booking__section{
    background: #000;
}

.color-fondo{
    /* background: #000; */
   
         /* Permite que el fondo cubra toda la ventana, incluso al hacer scroll */
        top: 0; /* Alinea el contenedor al principio del viewport */
        left: 0; /* Alinea el contenedor al principio del viewport */
        width: 100vw; /* Asegura que el contenedor ocupe todo el ancho de la ventana */
        height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
        background-color: #000000; /* Color de fondo negro */
        z-index: -1; /* Envía el fondo a la parte inferior */
    
    
}










