
<!-- <div class="pantallaDeCarga">
    <div class="pantalladeCarga__item"></div>
</div>
 -->

<!--///////////////////// CONTENIDO /////////////////////---->

<main class="main">

<!------------------ PORTADA --------------------------------->
    
    <section class="main__section main__section--portada">

        <div class="portada__section portada__section--text" data-aos="fade-right" data-aos-duration="500" data-aos-delay="250">

            <h1 class="portada__titulo">Trabaja cuando quieras y genera las ganancias que necesites</h1>
            <span class="portada__subtitulo">Administra tu propio tiempo y genera ganancias</span>

            <a [routerLink]="['/forms']" routerLinkActive="active"  class="portada__button">Comenzar</a>

        </div>

        <div class="portada__section portada__section--img" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500">
            <img src="assets/img/unete__portada.png" alt="">
        </div>

    </section>

<!------------------ GANANCIA --------------------------------->

    <section class="main__section main__section--ganancia">

        <div class="ganancia__section ganancia__section--text" data-aos="fade-right" data-aos-duration="500" data-aos-delay="250">
            <h2 class="ganancia__titulo">Gana <span>$</span>33.75 por hora con <span>Spray</span>YL en Panama City</h2>
            <span class="ganancia__subtitulo">"Trabaja en la plataforma con más clientes activos - !Únete a SpraYL y maximiza tus ingresos!"</span>
        </div>

        <div class="ganancia__section ganancia__section--img" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500">
            <img src="assets/img/ganancia__img.png" alt="">
        </div>

    </section>

<!------------------ DESCRIPTION --------------------------------->

    <section class="main__section main__section--descripcion">

        <div class="descripcion__section descripcion__section--img" data-aos="fade-right" data-aos-duration="500" data-aos-delay="250">
            <img src="assets/img/descripcion__img1.png" alt="">
        </div>

        <div class="descripcion__section descripcion__section--text" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500">
            <h3 class="descripcion__titulo">Una alternativa a los trabajos tradicionales de limpieza de carros</h3>
            <p class="descripcion__parrafo descripcion__parrafo--conEspaciado">Alternativa a los Trabajos Tradicionales de Limpieza de Carros, unete a SpraYL que ofrece una oportunidad única para generar ingresos de manera flexible. Es una excelente alternativa a los trabajos tradicionales de limpieza de carros, trabajos a tiempo parcial, trabajos temporales o empleos estacionales. Ya sea que busques una opción a tiempo completo o a tiempo parcial, o si deseas complementar tus ingresos actuales, convertirte en un socio de SpraYL puede ser la solución ideal.</p>
            <p class="descripcion__parrafo descripcion__parrafo--conEspaciado">¿Por Qué Elegir SpraYL? <br> En SpraYL, creemos que tu trabajo debe adaptarse a tu vida, no al revés. Ofrecemos una alternativa innovadora a los trabajos tradicionales de limpieza de carros, permitiéndote establecer tu propio horario y trabajar de manera independiente. Ya seas un detallador de autos experimentado o alguien que busca una nueva oportunidad, SpraYL te brinda las herramientas y el soporte necesarios para tener éxito.</p>
        </div>

    </section>


    <section class="main__section main__section--descripcion">

        <div class="descripcion__section descripcion__section--text descripcion__section--text--SecondSection" data-aos="fade-right" data-aos-duration="500" data-aos-delay="250">
            <h3 class="descripcion__titulo descripcion__titulo--SecondSection">Rentas y Financiamiento de Equipos con <span>Spra</span>YL</h3>
            <p class="descripcion__parrafo">Rentas de Equipos</p>
            <p class="descripcion__parrafo">Costo de Renta Semanal: Por solo $150 por semana, puedes rentar un kit de trabajo completo que incluye todo lo necesario para ofrecer servicios de detailing de alta calidad.</p>
            <p class="descripcion__parrafo">Incluye Seguro y Mantenimiento : Nuestras rentas de equipos incluyen seguro y mantenimiento básico, asegurando que siempre tengas las herramientas en perfectas condiciones para realizar tu trabajo.</p>
            <p class="descripcion__parrafo">Opciones de Renta Flexible: Ofrecemos diferentes opciones de renta que se adaptan a tus necesidades,</p>
            <p class="descripcion__parrafo">Financiamiento de Equipos</p>
            <p class="descripcion__parrafo">Opciones de Financiamiento: Si prefieres comprar tu propio kit de trabajo, ofrecemos opciones de financiamiento accesibles. Puedes pagar tu equipo en cuotas cómodas que se ajusten a tu presupuesto</p>
            <p class="descripcion__parrafo">Propiedad del Equipo: Al finalizar el período de financiamiento, el equipo será completamente tuyo, permitiéndote maximizar tus ganancias.</p>
            <p class="descripcion__parrafo">Garantía Incluida: Todos nuestros equipos financiados vienen con una garantía, asegurando que recibas soporte y reemplazo de equipos en caso de cualquier fallo durante el período de financiamiento.</p>
        </div>

        <div class="descripcion__section descripcion__section--img descripcion__section--img--SecondSection" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500">
            <img src="assets/img/descripcion__img2.png" alt="">
        </div>

    </section>


<!------------------ BENEFICIOS --------------------------------->

<section class="main__section main__section--beneficios" >

    <h3 class="beneficios__section_titulo">¿Cuál es el beneficio de ser un socio de la App de <span>Spra</span>YL?</h3>

    <div class="beneficios__section_contenedor">
        <div class="beneficio__item" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
            <img class="beneficio__item__img" src="assets/img/beneficio__img1.png" alt="">
            <span class="beneficio__item__titulo">Administra tu propio tiempo</span>
            <p class="beneficio__item__descripcion">Algunas oportunidades de trabajo pueden incluir largas horas y horarios rígidos. Si te conviertes en socio de la App de SpraYL, tú decides cuándo y con qué frecuencia trabajar.</p>
        </div>

        <div class="beneficio__item" data-aos="fade-up" data-aos-duration="500" data-aos-delay="750">
            <img class="beneficio__item__img" src="assets/img/beneficio__img2.png" alt="">
            <span class="beneficio__item__titulo">Obtén tus ganancias rápidamente</span>
            <p class="beneficio__item__descripcion">Cuando obtienes ganancias por usar la app de SpraYL, estas se transfieren de manera automática a tu cuenta bancaria cada semana.</p>
        </div>

        <div class="beneficio__item" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1000">
            <img class="beneficio__item__img" src="assets/img/beneficio__img3.png" alt="">
            <span class="beneficio__item__titulo">Obtén soporte a cada paso</span>
            <p class="beneficio__item__descripcion">Si tienes preguntas, puedes contactarnos en cualquier momento, en línea o en la app. Consulta sobre la verificación de antecedentes, las promociones semanales, cómo recibir tus ganancias y mucho más.</p>
        </div>
    </div>

</section>

<!------------------ GENERA --------------------------------->

<section class="main__section main__section--genera" >

    <div class="genera__section genera__section--img" data-aos="fade-right" data-aos-duration="500" data-aos-delay="250">
        <img src="assets/img/genera__img.png" alt="">
    </div>

    <div class="genera__section genera__section--text" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500">
        <h3 class="genera__titulo">Genera ganancias como <span>Spra</span>YLer</h3>

        <span class="genera__subtitulo">Genera ganancias a cualquier hora y en cualquier lugar</span>
        <p class="genera__parrafo">Ya sea que quieras trabajar unas horas de vez en cuando o que seas un usuario frecuente de la app para socios de SpraYL, podrás adaptarte a lo que más te importa gracias a SpraYL. Trabaja a cualquier hora, cualquier día de la semana. Las funciones de la app te ayudarán a encontrar clientes en tiempo real y recibir alertas sobre las oportunidades para generar ganancias cerca de ti.</p>
        
        <span class="genera__subtitulo">¿No tienes equipo para generear ganancias?</span>
        <p class="genera__parrafo">No hay problema. Si quieres convertirte en socio de SpraYL pero necesitas un kit de trabajo, revisa la selección de nuestros socios. Puedes encontrar un kit asequible por semana o por períodos más largos. Estos kits vienen con seguro, mantenimiento básico y más. Las opciones y las tarifas más bajas disponibles varían según la ciudad.</p>

    </div>

</section>

<!------------------ REQUISITOS --------------------------------->

<section class="main__section main__section--requisitos">

    <h3 class="requisitos__section_titulo">Esto es lo que necesitas para convertirte en socio de <span>Spra</span>YL</h3>


    <div class="requisitos__section_contenedor">
        <div class="requisito__item" data-aos="fade-right" data-aos-duration="500" data-aos-delay="500">
            <img class="requisito__item__img" src="assets/img/requisitos__img1.png" alt="">
            <span class="requisito__item__titulo">Requisitos</span>
            <ul class="requisito__item__lista"> 
                <li class="requisito__lista__item">Debes tener la edad mínima  requerida para conducir en tu ciudad.</li>
                <li class="requisito__lista__item">Debes aprobar una verificación de antecedentes.</li>
            </ul>
        </div>

        <div class="requisito__item" data-aos="fade-right" data-aos-duration="500" data-aos-delay="750">
            <img class="requisito__item__img" src="assets/img/requisitos__img2.png" alt="">
            <span class="requisito__item__titulo">Documentos.</span>
            <ul class="requisito__item__lista"> 
                <li class="requisito__lista__item">Licencia de conducir vigente</li>
                <li class="requisito__lista__item">Comprobante de residencia en tu ciudad, estado o provincia</li>
                <li class="requisito__lista__item">Tener seguro de su vehiculo</li>
            </ul>
        </div>

        <div class="requisito__item" data-aos="fade-right" data-aos-duration="500" data-aos-delay="1000">
            <img class="requisito__item__img" src="assets/img/requisitos__img3.png" alt="">
            <span class="requisito__item__titulo">Proceso de Registro</span>
            <ul class="requisito__item__lista"> 
                <li class="requisito__lista__item">Envía los documentos y la foto</li>
                <li class="requisito__lista__item">Proporciona la información necesaria para la verificación de antecedentes</li>
            </ul>
        </div>

    </div>

</section>

<!------------------ SEGURIDAD --------------------------------->

<section class="main__section main__section--seguridad">

    <h3 class="seguridad__section_titulo">Seguridad en el camino</h3>
    <span class="seguridad__section_subtitulo">Nos comprometemos a llevar su seguridad a un nivel superior.</span>

    <div class="seguridad__section_contenedor">
        <div class="seguridad__item" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500">
            <img class="seguridad__item__img" src="assets/img/seguridad__img1.png" alt="">
            <span class="seguridad__item__titulo">Recibes ayuda cuando la necesitas</span>
            <p class="seguridad__item__descripcion">Con el botón de emergencias llamas al 911. La app mostrará los detalles de tu viaje para que puedas compartirlo rápidamente con las autoridades.</p>
        </div>

        <div class="seguridad__item" data-aos="fade-left" data-aos-duration="500" data-aos-delay="750">
            <img class="seguridad__item__img" src="assets/img/seguridad__img2.png" alt="">
            <span class="seguridad__item__titulo">Soporte Continuo</span>
            <p class="seguridad__item__descripcion">Ofrecemos asistencia constante durante la jornada laboral de los Spraylers, resolviendo problemas con clientes, incidencias en la carretera y otras situaciones. Nuestro equipo de soporte está siempre disponible para brindar ayuda rápida y efectiva.</p>
        </div>

    </div>

</section>


<!------------------ GET READY --------------------------------->

    <section class="main__section main__section--getready">

        <video class="getready__video" src="assets/vid/getready.mp4" loop loading="lazy" muted autoplay></video>

    </section>

</main>
