
<footer class="footer" *ngIf="isVisible">

    <section class="footer__section footer__section--header">
        <h2 class="footer__section_header__titulo"><span>Spra</span>YL <span>Info</span>rmation</h2>
    </section>

    <section class="footer__section footer__section--main">

        <div class="footer_section_main__item">
            <div class="footer_section_main__item_titulo">
                <img src="assets/img/footer__icon1.png" alt="">
                <span>Hours of Operation</span>
            </div>

            <ul class="footer__main_lista"> 
                <li class="footer__lista__item footer__lista__item--epoca">Winter: 8:00 AM - 5:00 PM</li>
                <li class="footer__lista__item footer__lista__item--epoca">Summer: 7:00 AM - 7:00 PM</li>
            </ul>
        </div>

        <div class="footer_section_main__item">
            <div class="footer_section_main__item_titulo">
                <img src="assets/img/footer__icon2.png" alt="">
                <span>Email</span>
            </div>
            <span class="footer__section_main_dato">sprayl.detailsgmail.com</span>
        </div>


        <div class="footer_section_main__item">
            <div class="footer_section_main__item_titulo">
                <img src="assets/img/footer__icon3.png" alt="">
                <span>Phone Number</span>
            </div>
            <span class="footer__section_main_dato">+1 (850) 890-7984</span>
        </div>

        <div class="footer_section_main__item">
            <div class="footer_section_main__item_titulo">
                <img src="assets/img/footer__icon4.png" alt="">
                <span>Service Areas</span>
            </div>

            <span class="footer__section_main_dato">Panama City</span>
            <span class="footer__section_main_dato">Panama City Beach</span>
            <span class="footer__section_main_dato">Lynn Haven</span>
            <span class="footer__section_main_dato">Santa Rosa Beach</span>
            <span class="footer__section_main_dato">Mexico Beach</span>
            <span class="footer__section_main_dato">Southport</span>
            <span class="footer__section_main_dato">Port Saint Joe</span>
            <span class="footer__section_main_dato">30A</span>
        </div>

    </section>

    <section class="footer__section footer__section--bottom">

        <div class="footer__section_bottom_contenedor">
            <a href="https://www.instagram.com/reel/C1CdWMuOeND/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank" class="footer__section_bottom_icono"><img src="assets/img/footer__icono_instagram.png" alt=""></a>
            <a href="https://www.facebook.com/SpraYLs/" target="_blank" class="footer__section_bottom_icono"><img src="assets/img/footer__icono_facebook.png" alt=""></a>
        </div>

        <a href="booking.html" class="footer__section_bottom_book">
            <div class="contenedor__bottom_book">
                <img src="assets/img/footer__book.png" alt="">
                <span>Book Now!</span>
            </div>
        </a>

    </section>


</footer>
